.sidebar{
background-color:#37513b ;
width: 3rem;
margin: 0;
height: 110vh;
position: fixed;
}
.links{
    color: white;
    font-size:x-large;
    display: block;
    text-align: center; 
    margin: 0.5rem;
    padding: 0px;
   
}

.sidebar_container{display: grid;
    flex-direction:column;
}

.buttons_container{
    position: relative;
}
.sidebar_button{
    background-color: transparent;
    color: white;
    border: 0;
    font-size: x-large;
    margin: 6px;
    padding: 6px;
    display: block;
    text-align: center; 
}

.sidebar:hover{
    background-color:#34673c ;
   
}
